.contacts {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.contacts__empty {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.contacts__loading {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  font-size: 22px;
  color: #9fa9bc;
}

@media screen and (min-width: 728px) {
  .contacts {
      padding: 16px 0;
  }
}
